.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0.35);

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  .modal {
    background-color: rgba(255, 255, 255, 0.35);
    max-width: 90%;
    height: 90vh;
    padding: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    transform: translateY(-600px);
    transition: all 0.4s ease;
    // .modal::-webkit-scrollbar {
    //   width: 12px
    // }
    &_header {
      position: relative;
      border-bottom: 1px solid #dddddd;

      &-title {
        text-align: center;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;

        img {
          width: 1rem;
          height: auto;
          transition: all 0.2s ease;
          flex: 1 1 0px;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &_content {
      // border-bottom: 1px solid #dddddd;
      padding: 2rem 0;
      flex: 1 1 0px;


      .image {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        position:absolute;
        background: transparent;
        max-width: 50%;
        height: auto;
        border-radius: 8px;
        flex: 1 1 0px;
      }

      .description {
        flex: 1 1 0px;
        // text-align: right;
        position: "absolute";
        top: "50%";
        left: "50%";
        transform: "translate(-50%, -50%)";
        overflow: auto;
        // scroll-behavior: "touch";
        padding-left: 60%;
        white-space: break-spaces;
        line-height: 1.5;

      }
    }

    &_footer {
      padding: 2rem 0;
      padding-bottom: 0;

      button {
        float: right;
        padding: 0.5rem;
        border-radius: 8px;
      }

      .submit {
        margin-right: 1rem;
        background-color: #364348;
        color: #fff;

        &:hover {
          background-color: rgba(54, 67, 72, 0.8);
        }
      }

      .modal-close {
        background-color: transparent;
        font-weight: 600;

        &:hover {
          color: rgba(54, 67, 72, 0.8);
        }
      }
    }
  }
}

.modalContainer.show {
  visibility: visible;
  opacity: 1;

  .modal {
    transform: translateY(0);
  }
}