*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

// html{
// overflow: hidden;
// }

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../src/images/bangsal-nam-9HMGyZJfrk8-unsplash.jpg);
  background-size: auto // background-attachment:local;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  font-family: 'Rubik Distressed', cursive;

  &-header {
    position: static;
    padding: 50px 20px 0px 0px;
    // display:block;
    // align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    // color: white;
  }
}

.Title {
  box-sizing: border-box;
  width: 100%;
  // display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 1em;
  // background-color: rgb(192, 45, 26);
  color: #fff;
}

.main-header {
  // display: flex;
  max-width: 90%;
  height: auto;
}

.gorilla-rack {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  position: static;
  padding: 2em 1em 2em 1em;
  // margin-bottom: 2em;
}

.logos {
  display: flexbox;
  text-align: center;
  flex-wrap: wrap;

  img {
    align-items: inherit;
    margin: 1em;
    width: 25vw;
    padding-bottom: 2em;
  }
}

.content {
  padding: 16px;
}

.fixedTop {
  width: 100%;
  padding: 12px 18px;
  position: inherit;
  top: 0;
  // background: rgb(251, 4, 235);
}

.fixedTop+.main-block {
  padding-top: 102px;
}

.equipment {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 5px;
  justify-content: center;
  margin: 25px 25px 25px 5px;
}

.btn-group {
  padding-left: 25px;

  &-images {
    height: 200px;
    width: auto;
  }
}

.clickMe {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  // justify-content: inherit;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 501;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: center;
  background: rgb(0, 0, 0);
  border: none;
  color: #fff;
  font-weight: bold;
  align-items: stretch;
  transition: all 0.25s ease;
  // grid-auto-flow: column;
  // flex-flow: row;
  // justify-content: center;
}

.clickMe:hover {
  box-shadow: 0 10px 20px -10px rgba(250, 5, 5, 0.943);
}

.clickMe>span {
  display: flexbox;
  flex-direction: row;
  justify-content: center;

}

.line {
  width: 90%;
  border-top: 4px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

// .highlight {
//   color: #ccc;
// }
.icon {
  color: white
}

.icon:hover {
  color: grey
}

a .designedBy {

  color: unset;
}

.about-gym {
  align-self: flex-start;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headers {
  // align-self: flex-start;
  text-align: center;
  // margin-left: 5%;
  font-size: calc(5px + 2vmin);
  color: white;
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.office-content {
  align-self: flex-start;
  text-align: left;
  margin-left: 5%;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  // background-color: black;
}

.contactUsLink {
  color: white;
  text-decoration: none;
}

.contactUsLink:hover {
  text-decoration: underline;
}

.designedBy {
  color: gray;
  text-decoration: none;
}

.designedBy:hover {
  text-decoration: underline;
}

.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-container {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5%;
  // display: flex;
  // flex-direction:row;
  // justify-content: ;
  // width: 90%;
  /* margin-left: 5%; */
  // background-color: black
}

.col social-links {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 5px;
}